body {
    background: transparent;
    width: 1280px;
    height: 720px;
}

iframe {
    width: 100%;
    height: 100%;
    border-style: none;
}

#internet-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    z-index: 200;
}

#internet-container iframe {
    -ms-zoom: 1.00;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(1.00);
    -webkit-transform-origin: 0 0;
    transform: scale(1.00);
    transform-origin: 0 0;
    z-index: 200;
}

#upcare-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    z-index: 101;
}

#upcare-container iframe {
    -ms-zoom: 0.75;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    transform: scale(0.75);
    transform-origin: 0 0;
}

#upcare-container iframe.fullscreen {
    -ms-zoom: 1.0;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(1.0);
    -webkit-transform-origin: 0 0;
    transform: scale(1.0);
    transform-origin: 0 0;
}

#careboard-container {
    position: absolute;
    left: 966px;
    top: 0;
    width: 720px;
    height: 1280px;
    /*width: 405px;*/
    /*height: 720px;*/
    border-style: none;
}
#careboard-container-dim {
    position: absolute;
    left: 0px;
    top: 0;
    width: 720px;
    height: 1280px;
    background-color: rgba(0,0,0,0.40);
    z-index: 100;
    -ms-zoom: 0.563;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(0.563);
    -webkit-transform-origin: 0 0;
    transform: scale(0.563);
    transform-origin: 0 0;
}
#careboard-container iframe {
    -ms-zoom: 0.563;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(0.563);
    -webkit-transform-origin: 0 0;
    transform: scale(0.563);
    transform-origin: 0 0;
}

#footer-container {
    position: absolute;
    left: 0;
    top: 539px;
    width: 1280px;
    height: 240px;
    /*width: 855px;*/
    /*height: 225px;*/
}
#footer-container-dim {
    position: absolute;
    left: 0;
    top: 0px;
    width: 1280px;
    height: 240px;
    background-color: rgba(0,0,0,0.40);
    z-index: 100;
    -ms-zoom: 0.75;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    transform: scale(0.75);
    transform-origin: 0 0;
}

#footer-container iframe {
    -ms-zoom: 0.75;
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    transform: scale(0.75);
    transform-origin: 0 0;
}