#decline {	
	background: url('../images/bk_ecareboard-summer.jpg') no-repeat;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	margin: 0;
	padding: 0;
	text-align: left;
}


#decline p {
	text-align: left;
	margin: 0;
	padding: 1px 0;
	letter-spacing: .5px;
}

#decline #view {
	width: 720px;
	height: 1280px;
}


#decline #view > div.active {
	border: 4px solid #ffffff;
}

#decline #logo {
	background-image: url('../images/kpnw_discharged_1280x720.jpg');
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#decline #logo-decline {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#decline div.header {

	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;

}
#decline div.header-small {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#decline div.header2 {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#decline div.header3 {
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	background-color: #5599BC;
	border-radius: 16px 16px 0px 0px;
	line-height: 40px;
	width: 330px;
}

#decline span.header4 {
	font-size: 22px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}


#decline span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#decline span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}

#decline #date {
	position: absolute;
	left: 165px;
	top: 0px;
	width: 390px;
	height: 54px;
	padding: 00px 0px;
	background-color: #023867;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	z-index: 4;
	/* [disabled]border-top-right-radius: 0px; */
	/* [disabled]border-top-left-radius: 0px; */
}

#decline #date p {
	color: #FDFDFD;
	text-align: center;
	line-height: 60px;
}

#decline #basicinfo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 720px;
	height: 90px;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: center;
}

#decline #basicinfo #name {
	font-size: 32px;
	color: #1E4B86;
	font-weight: bold;
	padding-top: 26px;
}

#decline #basicinfo #roominfo {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#decline  #decline-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#decline #decline-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}
