
#motherbaby {	
	background: url('../images/gv_ecbd-motherbaby_bk.jpg') no-repeat;
	overflow: hidden;
	color: white;
	font-family: "Bitstream Vera Sans";
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	padding: 0;		
}

#motherbaby.rotate90 {
	background-image: url('../images/gv_ecbd_bk.jpg');
}

#motherbaby.rotateminus90 {
	background-image: url('../images/gv_ecbd_bk_reverse.jpg');
}

#motherbaby p {
	text-align: left;
	margin: 0;
	padding: 1px 0;
	letter-spacing: .5px;
}

#motherbaby #view {
	width: 720px;
	height: 1280px;
}

#motherbaby.rotate90  #view{
	transform: rotate(90deg);	/* CSS 3 */
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#motherbaby.rotateminus90  #view{
	transform: rotate(-90deg);	/* CSS 3 */
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}


#motherbaby #view > div.active {
	border: 4px solid #ffffff;
}

#motherbaby #logo {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 480px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#motherbaby #logo-decline {
	background: url(../images/logo-sm.png);
	position: absolute;
	left: 265px;
	top: 1140px;
	width: 190px;
	height: 114px;
	z-index: 4;
}

#motherbaby div.header {

	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;

}
#motherbaby div.header-small {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#motherbaby div.header2 {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#motherbaby div.header3 {
    font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0px;
	background-color: #E38FCA;
	border-radius: 16px 16px 0px 0px;
	line-height: 54px;
	width: 330px;
}

#motherbaby span.header4 {
	font-size: 22px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}

#motherbaby span.checkmark1 {
	color: #87B56C;
	font-weight: bold;
}

#motherbaby span.checkmark2 {
	color: #5599BC;
	font-weight: bold;
}

#motherbaby span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#motherbaby span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}

#motherbaby #date {
	position: absolute;
	left: 165px;
	top: 0px;
	width: 390px;
	height: 54px;
	padding: 00px 0px;
	background-color: #023867;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	z-index: 4;
	/* [disabled]border-top-right-radius: 0px; */
	/* [disabled]border-top-left-radius: 0px; */
}

#motherbaby #date p {
	color: #FDFDFD;
	text-align: center;
	line-height: 60px;
}

#motherbaby #basicinfo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 720px;
	height: 90px;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #FFFFFF;	/*border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#motherbaby #basicinfo #name {
	font-size: 32px;
	color: #1E4B86;
	font-weight: bold;
	padding-top: 26px;
}

#motherbaby #basicinfo #roominfo {
	font-size: 24px;
	color: #5599BE;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#motherbaby #dischargedate {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 720px;
	height: 36px;
	padding-top: 4px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 4px;
	background-color: #87B56C;
}

#motherbaby #dischargedate p {
	color: #FFFFFF;
	text-align: center;
}

#motherbaby #careteam-title {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 165px;
	top: 120px;
	width: 390px;
	height: 34px;
	padding-top: 6px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
}

#motherbaby #careteam {
	font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 54px;
	top: 156px;
	width: 620px;
	height: 160px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 22px;
	padding-bottom: 2px;
	letter-spacing: .5px;
	font-weight: bold;
}
#motherbaby #careteam p {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	line-height: 30px;
}


#motherbaby #careteam2 {
	font-size: 22px;
	line-height: 24px;
	position: absolute;
	left: 370px;
	top: 180px;
	width: 320px;
	height: 260px;
	padding-top: 12px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 12px;
	/*background-color: rgba(57,128,161,0.90);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	letter-spacing: .5px;
	font-weight: bold;
}

#motherbaby #painchart {
	background: url(../images/wong_baker_pain-management-faces1.png);
	position: absolute;
	left: 110px;
	top: 360px;
	width: 500px;
	height: 218px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: #F0F4F5;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	border-top-right-radius: 26px;
	border-top-left-radius: 26px;
	box-shadow: 4px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 4px 4px 8px rgba(1,25,43,0.60);
}

#motherbaby #mother-title {
    font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 20px;
	top: 600px;
	width: 330px;
	height: 34px;	
	background-color: #F0F4F5;
    border-radius: 26px 26px;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
    z-index: 4;    
}
#motherbaby #mother-title #mothericon {
	background: url(../images/icon_mother.png);
	position: absolute;
	left: 30px;
	top: 6px;
	width: 50px;
	height: 46px;
	z-index: 4;
}

#motherbaby #mother {
	position: absolute;
	left: 20px;
	top: 620px;
	width: 330px;
	height: 430px;
	padding: 0px 0px;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	font-size: 22px;
}

#motherbaby #mother p {
	padding-left: 15px;
	padding-top: 15px;
	line-height: 1.4;
	color: #023867;
	font-weight: bold;

}

#motherbaby #clinical {
	position: absolute;
	left: 46px;
	top: 996px;
	width: 330px;
	height: 190px;
	padding: 5px 10px;
	text-align: left;
	/*background-color: rgba(57,128,161,0.9);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#motherbaby #clinical p {
	font-size: 24px;
	text-align: center;
}

#motherbaby #clinical #icons {
	margin-top: 4px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	display: inline-block;
}

#motherbaby #clinical #icons div.icon {
	width: 60px;
	height: 60px;
	float: left;
}

/*MOTHER-BABY ICONS */

#motherbaby #clinical #icons #vitals {
	background: url('../images/icon_mb_vitals.png') no-repeat;
}

#motherbaby #clinical #icons #vitals2 {
	background: url('../images/icon_mb_vitals_done.png') no-repeat;
}
#motherbaby #clinical #icons #woundassess {
	background: url('../images/icon_mb_wound-assess.png') no-repeat;
}
#motherbaby #clinical #icons #woundassess2 {
	background: url('../images/icon_mb_wound-assess_done.png') no-repeat;
}
#motherbaby #clinical #icons #woundcare {
	background: url('../images/icon_mb_wound-care.png') no-repeat;
}
#motherbaby #clinical #icons #woundcare2 {
	background: url('../images/icon_mb_wound-care_done.png') no-repeat;
}

/*End MOTHER-BABY ICONS */

#motherbaby #clinical #icons #visual {
	background: url('../images/icon_visuallyimpaired.png') no-repeat;
}

#motherbaby #clinical #icons #hearing {
	background: url('../images/icon_hearingimpaired.png') no-repeat;
}

#motherbaby #clinical #icons #fall {
	background: url('../images/icon_fallrisk.png') no-repeat;
}

#motherbaby #clinical #icons #dentures {
	background: url('../images/icon_dentures.png') no-repeat;
}

#motherbaby #clinical #icons #skin {
	background: url('../images/icon_skin.png') no-repeat;
}

#motherbaby #clinical #icons #cpap{
	background: url('../images/icon_cpap.png') no-repeat;
}

#motherbaby #clinical #icons #leftarm{
	background: url('../images/icon_leftarm.png') no-repeat;
}

#motherbaby #clinical #icons #rightarm{
	background: url('../images/icon_rightarm.png') no-repeat;
}

#motherbaby #clinical #icons #swallow{
	background: url('../images/icon_swallow.png') no-repeat;
}

#motherbaby #clinical #icons #walker{
	background: url('../images/icon_walker.png') no-repeat;
}

#motherbaby #clinical #icons #dnr{
	background: url('../images/icon_dnr.png') no-repeat;
}


#motherbaby #baby-title {
    font-size: 22px;
	line-height: 22px;
	position: absolute;
	left: 372px;
	top: 600px;
	width: 330px;
	height: 34px;	
	background-color: #F0F4F5;
    border-radius: 26px 26px;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
    z-index: 4;    
}
#motherbaby #baby-title #babyicon {
    background: url(../images/icon_baby.png);
	position: absolute;
	left: 38px;
	top: 6px;
	width: 50px;
	height: 46px;
	z-index: 4;
}


#motherbaby #baby {
	position: absolute;
	left: 372px;
	top: 626px;
	width: 330px;
	height: 190px;
	padding: 0px 0px;
	float: left;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	font-size: 22px;
}

#motherbaby table {
    padding-top: 15px;
    padding-left: 20px;
}
#motherbaby th, 
#motherbaby td {    
    border-collapse: collapse;
	
    padding-left: 10px;
	line-height: 1.4;
	color: #023867;
	font-weight: bold;

}

#motherbaby #baby p {
	padding-left: 65px;
	padding-top: 15px;
	line-height: 1.4;
	color: #023867;
	font-weight: bold;
}

#motherbaby #baby1check {
	position: absolute;
	left: 440px;
	top: 656px;
	width: 100px;
	height: 210px;
	padding: 0px 0px;
	float: left;
	/*background-color: rgba(136,61,122,0.80);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	font-size: 22px;
}
#motherbaby #baby1check p {
	padding-left: 0px;
	padding-top: 15px;
	line-height: 1.4;
	color: #5599BC;
	font-weight: bold;
}

#motherbaby #baby2check {
	position: absolute;
	left: 415px;
	top: 656px;;
	width: 100px;
	height: 210px;
	padding: 0px 0px;
	float: left;
	/*background-color: rgba(136,61,122,0.80);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	font-size: 22px;
}
#motherbaby #baby2check p {
	padding-left: 0px;
	padding-top: 15px;
	line-height: 1.4;
	color: #87B56C;
	font-weight: bold;
}

#motherbaby #baby3check {
	position: absolute;
	left: 390px;
	top: 656px;
	width: 100px;
	height: 210px;
	padding: 0px 0px;
	float: left;
	/*background-color: rgba(136,61,122,0.80);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	font-size: 22px;
}
#motherbaby #baby3check p {
	padding-left: 0px;
	padding-top: 15px;
	line-height: 1.4;
	color: #DB6FBA;
	font-weight: bold;
}

#motherbaby #diet-title {
	font-size: 22px;
	line-height: 24px;
	position: absolute;
	left: 426px;
	top: 830px;
	width: 220px;
	height: 36px;
	padding-top: 8px;
	background-color: #5599BC;
	border-bottom-left-radius: 26px;
	border-bottom-right-radius: 26px;
	/* [disabled]border-top-right-radius: 26px; */
	/* [disabled]border-top-left-radius: 26px; */
	/* box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
	letter-spacing: .5px;
	font-weight: bold;
	z-index: 4;
}
#motherbaby #diet {
	position: absolute;
	left: 372px;
	top: 830px;
	width: 296px;
	height: 160px;
	padding-top: 54px;
	padding-right: 18px;
	padding-left: 15px;
	padding-bottom: 4px;
	background-color: #F0F4F5;
	border-bottom-right-radius: 26px;
	border-top-right-radius: 26px;
	border-bottom-left-radius: 26px;
	border-top-left-radius: 26px;
	box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
	-webkit-box-shadow: 6px 4px 8px rgba(1,25,43,0.60);
}

#motherbaby #diet p {
	line-height: 25px;
	color: #5599BC;
	font-weight: bold;
}



#motherbaby #drawing {
	position: absolute;
	left: 49px;
	top: 630px;
	width: 612px;
	height: 226px;
	padding: 0;
	background-color: rgba(205,227,191,1.00);
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);

}



#motherbaby #support-title {
	font-size: 22px;
	line-height: 24px;
	position: absolute;
	left: 20px;
	top: 1070px;
	width: 310px;
	height: 36px;
	padding: 2px 15px;
	background-color: #5599BC;
	border-top-right-radius: 26px;
	border-top-left-radius: 26px;
	letter-spacing: .5px;
	font-weight: bold;
	z-index: 4;
}	

#motherbaby #supportperson {
	position: absolute;
	left: 20px;
	top: 1070px;
	width: 310px;
	height: 130px;
	padding-top: 46px;
	padding-right: 4px;
	padding-left: 25px;
	padding-bottom: 4px;
	background-color: #F0F4F5;
	border-radius: 26px 26px;
	box-shadow: 4px 4px 8px rgba(46,52,18,1.00);
}

#motherbaby #supportperson p {
	text-align: left;
	font-weight: bold;
	color: #023867;
}

#motherbaby #supportperson p span.name, #motherbaby #supportperson p span.tel{
	margin: 0 15px;
}

#motherbaby #footer {
	position: absolute;
	left: 13px;
	top: 1175px;
	width: 310px;
	height: 30px;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 24px;
	padding-bottom: 10px;
	/*background-color: rgba(17,99,27,0.80);
	border-radius: 26px 26px;
	/*box-shadow: 4px 4px 8px rgba(46,52,18,1.00);*/
}

#motherbaby #footer p {
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	color: #023867;
}

#motherbaby #decline-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#motherbaby #decline-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}

