* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	list-style: none;
}
body	{
	/*width: 400px;
	height: 720px;*/
	/*width: 720px;
	height: 1280px;*/
	top: 0px;
	margin: 0;
	padding: 0;
	/*background: url(../images/bk_home.jpg) top left no-repeat;*/
}

div#app {
	width: 100%;
    /*height: 1280px;*/
	background: rgba(0,0,0,1.0);
	color: rgba(255,255,255,1.0);
	font-family: "Bitstream Vera Sans",Arial,sans-serif;
	font-weight: bold;
}
div#app-discharge {
	width: 100%;
	/*background: rgba(0,0,0,1.0);*/
	color: rgba(255,255,255,1.0);
	font-family: "Bitstream Vera Sans",Arial,sans-serif;
	font-weight: bold;
}

html {
	
}

/*****************************************************************************/
/* Text */

/* Default text attributes white: #F7F9FB  */

div, p, span, a {
	color: #F7F9FB;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
	font-style: normal;
	/*text-shadow: 2px 2px 4px hsla(0,0%,17%,1.00);*/
}


/*****************************************************************************/

/*#careboard-container {
	position: absolute;
	left: 866px;
	top: 0px;
	/*width: 400px;
	height: 720px;*/
	/*width: 720px;
	height: 1280px;
}*/
#careboard-discharge {
	/*background: url('../images/bk_ecareboard-spring-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-winter-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-spring-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-summer-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-summer2-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-fall-560.jpg') no-repeat;*/
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	margin: 0;
	padding: 0;
	text-align: left;
		
}

#careboard {
	background: url('../images/bk_ecareboard-spring-560.jpg') repeat-y;
	/*background: url('../images/bk_ecareboard-winter-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-spring-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-summer-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-summer2-560.jpg') no-repeat;*/
	/*background: url('../images/bk_ecareboard-fall-560.jpg') no-repeat;*/
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	margin: 0;
	padding: 0;
	text-align: left;
		
}

#careboard div.ecbheader {
	font-size: 34px;
	line-height: 34px;
	font-weight: bold;
	color: #CEF0AA;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

#careboard div.header-small {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#careboard div.header2 {
	font-size: 20px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#careboard div.header3 {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	background-color: #5599BC;
	border-radius: 16px 16px 0px 0px;
	line-height: 40px;
	width: 330px;
}

#careboard span.header4 {
	font-size: 20px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}

#careboard span.checkmark1 {
	color: #87B56C;
	font-weight: bold;
}

#careboard span.checkmark2 {
	color: #5599BC;
	font-weight: bold;
}

#careboard span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#careboard span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}

#careboard #patient {
    position: relative;
	width: 100%;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
}

#careboard #patient p {
    color: #000000;
    font-size: 22px;
}

#careboard #careteam {
	position: relative;
	margin: 20px;
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	padding-left: 10px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	border-radius: 6px;
	/*background-color: rgba(77,76,117, .80);  SPRING COLOR purple*/
	/*background-color: rgba(42,73,13,0.80);  FALL & SUMMERS COLOR green*/
	/*background-color: rgba(5,69,110,0.80);  WINTER COLOR blue*/
	background-color: rgba(77,76,117, .80);
}

#careboard #goals {
	position: relative;
	margin: 20px;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	background-color: rgba(77,76,117, .80);
	border-radius: 6px;
}

div.ecbddata-goals:after {
	content: attr(data-goals)"Walk in hall x 3\AReduce pain\A Drink more water";
	position: relative;
	white-space: pre;
	font-size: 20px;
	line-height: 30px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	padding-left: 0px;
}

#careboard #dischargedate{
	position: relative;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
    color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	
}

div.ecbddata-dischargedate:after { content: attr(data-dischargedate)"01-12-17" ; 
	position: relative;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}

#careboard #activity {
	position: relative;
	margin: 20px;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	background-color: rgba(77,76,117, .80);
	border-radius: 6px;
}

div.ecbddata-activities:after {
	content: attr(data-activities)"Resting in Bed\AWalker\AStaff Assist - 1";
	position: relative;
	white-space: pre;
	font-size: 20px;
	line-height: 30px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	padding-left: 0px;
}

#careboard #functionlevel{
	position: relative;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
    color: #F2F4AB;
	font-weight: bold;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	
}

#careboard #diet {
	position: relative;
	margin: 20px;
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	padding-left: 10px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	background-color: rgba(77,76,117, .80);
	border-radius: 6px;
}

div.ecbddata-dietorders:after {
	content: attr(data-dietorders)"REGULAR DIET\A Food Allergies: PEANUT - DIETARY,\A CAROB, CORN, EGGS   (EDIBLE),\A WHEAT FLOUR";
	position: relative;
	white-space: pre;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	
}

#careboard #supportperson {
	position: relative;
    margin: 20px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	background-color: rgba(77,76,117, .80);
	border-radius: 6px;
}

#careboard #supportperson p {
    line-height: 32px;
}

#careboard #clinical {
	position: relative;
	margin: 20px;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	background-color: rgba(77,76,117, .80);
	border-radius: 6px;

}

#careboard #clinical p {
	text-align: center;
}

div.ecbddata-painscore:after {
	content: attr(data-painscore)"7 - Numeric - 2017-01-09  12:02";
	position: relative;
	text-align: center;
	white-space: pre;
	font-size: 20px;
	line-height: 30px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	z-index: 5;
}


#careboard #clinical #icons {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	text-align: center;
	display: inline-block;
	height: 60px;
}

#careboard #clinical #icons div.icon {
	width: 60px;
	height: 60px;
	float: left;
	padding-right: 8px;
	padding-left: 0px;
	-webkit-filter: drop-shadow(3px 3px 3px #222);
  	filter: drop-shadow(3px 3px 3px #222);

}

/*ICONS */

#careboard #clinical #icons #fallrisk {
	background: url('../images/icon_ecbd_fallrisk.png') no-repeat;

}

#careboard #clinical #icons #hearing {
	background: url('../images/icon_ecbd_hearing.png') no-repeat;
}

#careboard #clinical #icons #vision{
	background: url('../images/icon_ecbd_vision.png') no-repeat;
}
#careboard #clinical #icons #dentures {
	background: url('../images/icon_ecbd_dentures.png') no-repeat;
}
#careboard #clinical #icons #braden {
	background: url('../images/icon_ecbd_braden.png') no-repeat;
}

#careboard #clinical #icons #breastfeed{
	background: url('../images/icon_breastfeeding.png') no-repeat;
}

#careboard #decline-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#careboard #decline-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}
#careboard #revision {
	position: absolute;
	top: 1250px;
	left: 32px;
	font-size: 18px;
	color: #ffffff;
	z-index: 9;
}
