/*****************************************************************************/
/* Screen resolution, default background */
body	{
	width: 1280px;
	height: 720px;
	top: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_winter.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer2.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_fall.jpg) top left no-repeat;*/
}

body.test {
	overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.page {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
}
#screen-dim	{
	width: 1280px;
	height: 720px;
	top: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	display: inline-block;
	/*visibility: hidden;*/
	background: url(../images/screen-dim.png) top left no-repeat;
	z-index: 100;
	opacity: .4;
}

#careboard-container iframe {
	width: 400px;
	height: 720px;
	border-style: none;
}
#footer-container iframe {
	width: 800px;
	height: 400px;
	border-style: none;
}


/*****************************************************************************/

/* logo */
div.logo, div.logo-large {
	background: url(../images/logo_large.png) bottom right no-repeat;
	width: 339px;
	height: 59px;
	display: block;
	float: left;
	margin: 35px 0 0 880px;
}

div.logo-small {
	/*background: url(../images/logo_small.png) bottom right no-repeat;*/
	width: 228px;
	height: 46px;
	display: block;
	float: left;
}

div.logo.topleft, div.logo-large.topleft {
	margin: 45px 0 0 525px;
}
div.logo-large.topright {
	margin: 45px 0 0 125px;
}

div.logo-small.topleft{
	margin: 24px 0 0 26px;
}

div.logo-small.bottomright{
	margin: 616px 0 0 890px;
	position: absolute;
}
div.logo-small.topright{
	margin: 68px 0 0 890px;
}

div.logo-small.topright2{
	margin: 38px 0 0 600px;
	z-index: 1;
}


div.page-title {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	display: block;
	text-align: center;
}

div.educ-downarrow {
	background: url(../images/arrow_down-ltblue.png) no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: 320px 0 0 414px;
	z-index: 1;
}



/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #F7F9FB;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	font-style: normal;
	text-shadow: 2px 2px 4px hsla(0,0%,17%,0.50);
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
	color: #FFFF92;
}
div.text-color-2-lg, p.text-color-2-lg, span.text-color-2-lg, a.text-color-2-lg {
	color: #FFFF92;
	font-size: 40px;
}
div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
	color: #104969;
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
	color: #D9D9D9;
	font-size: 30px;
	padding-left: 0px;
}
div.text-color-5, p.text-color-5, span.text-color-5, a.text-color-5 {
	color: #CEFCCE;
}
div.text-color-6, p.text-color-6, span.text-color-6, a.text-color-6 { /* Text for NEW Mail on Home page */
	color: #FF9C38;
	font-size: 26px;
	line-height: 28px;
	background-color: rgba(32,59,88,0.70);
}
div.text-color-7, p.text-color-7, span.text-color-7, a.text-color-7 { /* Text for Educ Library on Home page */
	color: #F3F574;
	font-size: 32px;
}
/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
	font-size: 18px;
	font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 22px;
	font-weight: bold;
	color: #F9D98B;
	text-shadow: 3px 3px 6px rgba(0,0,0,1.00);
}

div.text-small, p.text-small, span.text-small, a.text-small {
	font-size: 24px;
	font-weight: normal;
}

div.text-med, p.text-med, span.text-med, a.text-med {
	font-size: 32px;
	line-height: 46px;
	font-weight: bold;
	/*color: #FBFBFC;*/
	letter-spacing: .5px;
}

div.text-edtitles, p.text-edtitles, span.text-edtitles, a.text-edtitles {
	font-size: 32px;
	line-height: 46px;
	font-weight: bold;
	/*background-color: rgba(211,96,18,1.00);*/
	background-color: #3399cc;
	border-radius: 6px;
	letter-spacing: 1px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
	
div.text-large, p.text-large, span.text-large, a.text-large {
	font-size: 32px;	
	font-weight: bold;
	color: #F9F9F9;
	letter-spacing: 1px;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
	font-size: 38px;
	font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
	font-size: 48px;
	font-weight: bold;
	line-height: 50px;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
	font-weight: bold;
	font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
	font-weight: normal;
	font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
	font-weight: normal;
	font-style: italic;
}

/* Bullets 
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0 0px 30px;
    text-indent: -1em;
	line-height: 28pt;
	padding-right: 25px;
}*/
ul li{
    list-style-type: disc;
    /*list-style-position: inside;*/
    padding: 0px 0px 0px 20px;
    text-indent: -1px;
	line-height: 28pt;	
}

/*****************************************************************************/
/* Buttons and links */
a {
	text-decoration: none;
	color: #F0F4F5;
}

a.active {
	background-color: rgba(211,96,18,1.00);
	border-radius: 6px;
}

a.button {
	background-color: #2188CF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 5px;
	color: #ffffff;
}

a.button.active {
	background-color: #61B873;
}

a.button.color2 {
	background-color: #D54D00;
}

a.button.color3 {
	background-color: #58568A;
}

a.button-3:active, a.buttoncolor-3.active {
	background-color: #3399cc;
}

/* special shapes */

.arrow-left {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #ffffff;
}
