* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	list-style: none;
}
body	{
	width: 1280px;
	height: 240px;
	top: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: #424067; SPRING */
	/*background: #05456E; WINTER */
	/*background: #2A490D; FALL AND SUMMER */
	/*background: url(../images/bk_tile-test.jpg) top left no-repeat;*/
	background: #2A490D;
}
html {
	
}
/*screen-dim	{
	width: 100%;
	height: 100%;
	top: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	display: inline-block;
	background: url(../images/screen-dim.png) top left no-repeat;
	z-index: 100;
	opacity: .4;
}*/


/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #F7F9FB;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	font-size: 18px;
	font-style: normal;
	/*text-shadow: 2px 2px 4px hsla(0,0%,17%,1.00);*/
}

	
div.text-patient, p.text-patient, span.text-patient, a.text-patient {
	font-size: 26px;	
	font-weight: 700;
	color: #F9F9F9;
	letter-spacing: 1px;
}

/*****************************************************************************/

#footer {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 334px;
	position: absolute;
	/*background: #424067;*/
}

#footer #patient {
	width: 1100px;
	height: 76px;
	top: 60px;
	left: 90px;
	position: absolute;
	text-align: center;
	display: inline-block;
}

#footer #patient p {
	font-size: 44px;
	line-height: 46px;
	text-align: center;
	color: #FBFBFB;
	font-weight: bold;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}
#footer #patientroom{
	width: 1100px;
	height: 56px;
	top: 50px;
	left: 90px;
	text-align: center;
	display: inline-block;	
}

#footer #patientroom p {
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	color: #F2F4AB;
	font-weight: bold;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}

#footer #todaysdate{
	position: absolute;
	left: 60px;
	top: 10px;
	font-size: 26px;
	line-height: 28px;
	text-align: left;
    color: #F9F9F8;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	
}

div.ecbddata-todaysdate:after { 
	content: attr(data-todaysdate)"Monday, January 9, 2017\A 2:09 PM";
	position: absolute;
	white-space: pre;
	left: 60px;
	top: 10px;
	font-size: 26px;
	line-height: 28px;
	text-align: left;
	color: #F9F9F8;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);

}

#footer p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	padding-top: 10px;
}
#footer #supportperson {
	width: 1100px;
	height: 40px;
	top: 0px;
	left: 90px;
	text-align: center;
	display: inline-block;
	
}

#footer #supportperson p {
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #F2F4AB;
	font-weight: bold;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}
	
#footer #logofooter {
	background: url(../images/logo_small.png) top left no-repeat;
	/*margin: 616px 0 0 890px;*/
	width: 236px;
	height: 34px;
	display: block;
	top: 20px;
	left: 1000px;
	position: absolute;
	display: inline-block;
	float: left;
	opacity: 0.6;
}


#footer #revision {
	position: absolute;
	top: 190px;
	left: 50px;
	font-size: 18px;
	color: #444444;
	z-index: 9;
}
