*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;

}

#clear {
clear: both;
}

/* intro panel */

#intro {
	background: url(../images/bk_intro.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
}

#intro #logo{
	background: url(../images/logo_large.png) top left no-repeat;
	width: 506px;
	height: 88px;
	display: block;
	float: left;
	margin: 45px 0 0 560px;
}

#intro #remote {
	background: url(../images/img_remote.png) no-repeat;
	width: 334px;
	height: 432px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 180px;
	top: 64px;

}
#intro .keyboardicon {
	background: url(../images/icon_keyboard.png) top left no-repeat;
	width: 96px;
	height: 50px;
	position: absolute;
	left: 300px;
	top: 280px;
	
}
#intro #heading {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
#intro #regtext {
	width: 460px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 160px;

}
#intro #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}

#intro #regtext2 {
	width: 600px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 617px;
	top: 160px;
}
#intro #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
#intro #instruction {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 600px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 630px;
	top: 120px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #instruction p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}

#intro #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 36px;
	line-height: 40px;
}

/*#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

#intro #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

#intro #buttons {
	width: 420px;
	height: 172px;
	font-size: 36px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 65px;
	top: 76px;
}

#intro #buttons a {
	/*background: url(../images/intro_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #18416D;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 10px #333333;

}

#intro #buttons a.active {
	background-color: #D36012;	/*background: url(../images/intro_badge-hi.png) top center no-repeat;*/	
}

/*#intro #buttons a.myview.active {
	background: rgba(245,128,37,1.0);
	font-size: 40px;
}*/

#intro #buttons a.english {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.spanish {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#intro #buttons a.vietnamese {
	width: 420px;
	height: 50px;
	margin: 20px 0px 0px 0px;
	float: right;
	position: relative;
}
