*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

#clear {
clear: both;
}

/* intro panel */

#intro {
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_winter.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer2.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_fall.jpg) top left no-repeat;*/
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
}
#discharge {
	width: 1280px;
	height: 720px;
	top: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_winter.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_spring.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_summer2.jpg) top left no-repeat;*/
	/*background: url(../images/bk_home_fall.jpg) top left no-repeat;*/
}

#intro #logo {
	background: url(../images/logo_large.png) top left no-repeat;
	width: 506px;
	height: 88px;
	display: block;
	float: left;
	margin: 600px 0 0 900px;
}

#intro #heading {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
#intro #date {
	width: 600px;
	height: 50px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: 20px;
	text-align: left;
	/*background-color: rgba(13,54,122,0.20);
	border-radius: 20px;*/
}

#intro #date p {
	min-height: 24px;
	line-height: 30px;
	text-align: left;
	position: relative;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.00);
	margin-left: 12px;
	margin-top: 8px;
	color: #000A0F;
}
#intro #version {
	width: 300px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: 620px;
	text-align: left;
}

#intro #version p {
	min-height: 24px;
	line-height: 30px;
	text-align: left;
	position: relative;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.60);
	margin-left: 0px;
	margin-top: 0px;
	color: #F1ED83;
	font-size: 26px;
	letter-spacing: 1px;
}	
#intro #instruction {
	width: 860px;
	height: 480px;
	display: inline-block;
	position: absolute;
	left: 220px;
	top: 100px;
	text-align: center;
	background-color: rgba(13,54,122,0.20);
	border-radius: 20px;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 60px 20px 20px 0px;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #instruction p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	line-height: 32px;
}

#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	font-size: 42px;
	line-height: 52px;	
}
#intro #instruction span.text-color-4-yellow {
	color: #F7F399;
	font-size: 42px;
	line-height: 52px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}

/*#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

#intro #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

#intro #buttons {
	width: 420px;
	height: 100px;
	font-size: 36px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	position: absolute;
	left: 450px;
	top: 430px;
}

#intro #buttons a {
	/*background: url(../images/intro_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #18416D;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 10px #333333;

}

#intro #buttons a.active {
	background-color: #D36012;		
}

/*#intro #buttons a.myview.active {
	background: rgba(245,128,37,1.0);
	font-size: 40px;
}*/

#intro #buttons a.mycare {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.watchtv {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#intro #buttons a.vietnamese {
	width: 420px;
	height: 50px;
	margin: 20px 0px 0px 0px;
	float: right;
	position: relative;
}
