
/* languages panel */

#languages {
}

#languages .ui-mask {
	background: transparent url(../images/bk_intro.jpg) top left no-repeat;
	opacity: 1;
}

#languages #content{
	background: url(../images/bk_langs.png)  no-repeat;
	width: 1102px;
	height: 526px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	left: 89px;
	top: 90px;	
}
#languages #logo{
	background: url(../images/logo_large.png) top left no-repeat;	
	width: 400px;
	height: 88px;
	display: block;
	float: left;
	margin: 45px 0 0 50px;
}

#languages #remote {
	background: url(../images/img_remote.png) no-repeat;
	width: 334px;
	height: 432px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 180px;
	top: 64px;

}
#languages .keyboardicon {
	background: url(../images/icon_keyboard.png) top left no-repeat;
	width: 96px;
	height: 50px;
	position: absolute;
	left: 300px;
	top: 280px;
	
}
#languages #heading {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
#languages #regtext {
	width: 460px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 160px;

}
#languages #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}

#languages #regtext2 {
	width: 600px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 617px;
	top: 160px;
}
#languages #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}
#languages #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#languages #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
#languages #instruction {
width: 564px;
	height: 338px;
	display: inline-block;
	position: absolute;
	left: 518px;
	top: 40px;
	text-align: right;
}

#languages #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}


#languages #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#languages #instruction p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}

#languages #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
#languages #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
#languages #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 36px;
	line-height: 40px;
}

/*#languages #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

#languages #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

#languages #buttons {
	width: 420px;
	height: 172px;
	font-size: 36px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: -37px;
	top: -156px;
}


#languages #buttons a {
	/*background: url(../images/languages_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #18416D;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 10px #333333;

}

#languages #buttons a.active {
	background-color: #D36012;	/*background: url(../images/languages_badge-hi.png) top center no-repeat;*/	
}

/*#languages #buttons a.myview.active {
	background: rgba(245,128,37,1.0);
	font-size: 40px;
}*/

#languages #buttons a.english {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#languages #buttons a.spanish {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#languages #buttons a.vietnamese {
	width: 420px;
	height: 50px;
	margin: 20px 0px 0px 0px;
	float: right;
	position: relative;
}
