.page.myprograms {
}
.page.myprograms .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../images/bk_default2.jpg) top left no-repeat;
    z-index: 1;
}

.page.myprograms .page-title {
    left: 66px;
    top: 100px;
    width: 328px;
    height: 66px;
    z-index: 1;
    text-align: center;
    letter-spacing: .5px;
    color: #F0F4F5;
    line-height: 72px;
    /*background: url('../images/menubar_highlight.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    background-color: #0078ad;
    border-top-left-radius: 26px 26px;
    border-top-right-radius: 26px 26px;
    font-weight: bold;

}

.page.myprograms #header {
    width: 100%;
    height: 145px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.myprograms #header #heading1 {
    height: 100px;
    top: 75px;
    left: 436px;
    position: absolute;
    display: inline-block;
    float: left;
}

.page.myprograms #header #heading1 p {
    color: #45466D;
}

.page.myprograms #header #heading2 {
    width: 338px;
    height: 56px;
    top: 162px;
    left: 60px;
    position: absolute;
    float: left;
    z-index: 1;
    border: 4px solid rgba(240,244,245,1.00);
    background: -webkit-linear-gradient(#94b329, #4c7401);
    box-shadow: 1px 4px 8px 0px #353535;
    border-radius: 12px;
}

.page.myprograms #header #heading2 p {
    color: #F0F4F5;
    text-align: center;
    font-size: 28px;
    padding-top: 9px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}

div.datetime {
    width: 420px;
    height: 90px;
    top: 42px;
    left: 84px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: left;
    line-height: 22px;
    font-size: 20px;
    text-shadow: 2px 2px 4px hsla(0,0%,11%,0.70);
}

div.datetime2 {
    width: 420px;
    height: 90px;
    top: 22px;
    left: 64px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: left;
    line-height: 22px;
    font-size: 16px;
    text-shadow: 2px 2px 4px hsla(0,0%,11%,0.70);
}

.page.myprograms #content {
    width: 100%;
    height: 575px;
    top: 145px;
    position: absolute;
    left: 0px;
    background: url(../images/bk_default2.jpg) top left no-repeat;
}

.page.myprograms #menu {
    width: 100%;
    height: 100%;
}

.page.myprograms #menu .major {
    position: absolute;
    width: 330px;
    height: 466px;
    left: 66px;
    top: 70px;
    padding: 35px 0 0 0;
    /*background: #333230;*/
    box-shadow: 2px 2px 6px 0px #0C1E32;
    background-color: rgba(31,87,112, 1.0);
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    -webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.page.myprograms #menu .major a {
    position: relative;
    display: block;
    height: 38px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 8px;
    background-color: rgba(48,138,200,1.00);
}
.page.myprograms #menu .major a.back-button {
    /*  position: absolute;
    width: 292px;*/
    font-size: 26px;
    top: 0px;
    text-align: left;
    margin-bottom: 20px;
    background-color: rgba(48,138,200,0.70);
    border-radius: 8px;

}
.page.myprograms #menu .major a.back-button2 {
    /*  position: absolute;
    width: 292px;*/
    font-size: 26px;
    top: 0px;
    text-align: left;
    margin-bottom: 20px;
    background-color: rgba(48,138,200,0.70);
    border-radius: 8px;

}
.page.myprograms #menu .major a.selected {
    background: #d36012;
    border-radius: 8px;
    font-size: 32px;
    padding-top: 2px;
}

.page.myprograms #menu .minor {
    position: absolute;
    width: 860px;
    height: 380px;
    top: 32px;
    left: 420px;
}

.page.myprograms #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 404px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.page.myprograms #menu .minor .arrow-button.sub-page-prev {
    left: 30px;
}

.page.myprograms #menu .minor .arrow-button.sub-page-next {
    right: 100px;
}

.page.myprograms #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page.myprograms #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.page.myprograms #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}


.page.myprograms #menu .minor .back-tab {
    position: absolute;
    display: none;
}

.page.myprograms #menu .minor .back-tab img {
    width: 100%;
    height: 100%;
    margin: 40px 0px 0px 25px;
}

.page.myprograms #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 810px;
}

.page.myprograms #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.myprograms #menu .minor .sub-header {
    color: rgba(189,239,254,1.00);
    padding: 145px 0 0 20px;

}
.page.myprograms #menu .minor .sub-header p {
    padding-top: 10px;
    font-size: 28px;
    color: rgba(189,239,254,1.00);
}
.page.myprograms #menu .minor .sub-header .keyboardicon {
    /*background: url(../images/icon_keyboard.png) top left no-repeat;*/
    background: url(../images/icon_keyboard.png);
    /*margin-left: 660px;*/
    width: 96px;
    height: 50px;
    /*float: left;*/
}

.page.myprograms #menu .minor .sub-footer {
    position: absolute;
    height: 30px;
    color: #F5F2A2;
    text-align: center;
    top: 420px;
    left: 110px;
    text-shadow: 2px 2px 6px #000000;
}

.page.myprograms #menu .minor .sub-content {
    height: 250px;
    width: 860px;
    padding: 40px 200px 0 0;
    overflow: hidden;
}

.page.myprograms #menu .minor .sub-content p {
    margin-bottom: 15px;
    line-height: 34px;
}


.page.myprograms #menu .minor .sub-content .sub-image1 img
,.page.myprograms #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;
}
.page.myprograms #menu .minor .sub-content .keyboardicon {
    background: url(../images/icon_keyboard.png);
    width: 96px;
    height: 50px;
}
/* Layout 1, text only */
.page.myprograms #menu .minor .sub-content.layout1 {

}

.page.myprograms #menu .minor .sub-content.layout1 .sub-text1{
    display: block;
    width: 100%;
    padding: 15px;
}
.page.myprograms #menu .minor .sub-content.layout1 .sub-text1 p{
    line-height: 38px;
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-text2{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-image1{
    display: none;
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-image2{
    display: none;
}