
.page.primary {
	background: url(../images/bk_home_summer2.jpg) top left no-repeat;
}
/*.page.primary #upcare {
	/*width: 100%;*/
	/*width: 860px;
	height: 485px;
	top: 100px;
	position: absolute;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
	/*
}*/

/*.page.primary #patient {
	width: 600px;
	height: 76px;
	top: 20px;
	left: 130px;
	position: absolute;
	text-align: center;
	display: inline-block;
	
}

.page.primary #appheader #patient p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}*/

.page.primary #content {
	/*width: 874px;
	height: 480px;*/
	width: 1280px;
	height: 720px;
	top: 0px;
	position: absolute;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
	/*width: 858px;*/	
}

/*.page.primary #menu .slides {
	position: absolute;
	top: 286px;
	left: 66px;
	width: 1148px;
	height: 435px;
}

.page.primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}


.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}
*/

.page.primary #menu .major {
	/*background: url('../images/menubar_slice.png') repeat-x;*/
	position: absolute;
	width: 100%;
	/*width: 866px;*/
	height: 70px;
	padding: 0;
	left: -2px;
	left: -2px;
	top: 210px;
	background-color: #6c9c38;
	-webkit-box-shadow: 2px 2px 4px rgba(0,3,0,1.00);
	box-shadow: 2px 2px 4px rgba(0,3,0, .80);
}

.page.primary #menu .major a {
	position: absolute;
	height: 60px;
	margin: 0;
	padding-top: 27px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 34px;
	color: rgba(255,255,255,1.00);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
	top: -8px;
	font-weight: bold;
	letter-spacing: 1px;
}

.page.primary #menu .major a.selected {
	font-size: 40px;
	background-repeat: no-repeat;
	background-position: center top no-repeat;
	/*background-color: #308ac8;*/
	background-color: #3a87bd;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80px;
	margin-top: 0px;
	padding-top: 18px;
	color: rgba(244,244,245,1.00);
	border-top-right-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.page.primary #menu .major a#menu1 {
	left: 50px;
	width: 242px;
}

.page.primary #menu .major a#menu2 {
	left: 284px;
	width: 288px;
}

.page.primary #menu .major a#menu3 {
	left: 510px;
	width: 312px;
}

.page.primary #menu .major a#menu4 {
	left: 772px;
	width: 262px;
}

.page.primary #menu .major a#menu5 {
	left: 1010px;
	width: 255px;
}

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	/*width: 858px;*/
	height: 300px;
	top: 280px;

}

.page.primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	/*background:  rgba(19,56,101,.9);*/
	background: rgba(27,76,111,.8);
	margin: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 6px;
	display: none;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;	
}

.page.primary #menu .minor #menu1-group {
	left: 48px;
	width: 310px;
}

.page.primary #menu .minor #menu2-group {
	left: 262px;
	width: 326px;
}

.page.primary #menu .minor #menu3-group {
	left: 483px;
	width: 360px;
}

.page.primary #menu .minor #menu4-group {
	left: 770px;
	width: 260px;
}

.page.primary #menu .minor #menu5-group {
	left: 996px;
	width: 265px;
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 3px 15px;
	line-height: 34pt;
	font-weight: bold;
	font-size: 32px;
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
	letter-spacing: 0px;
}

.page.primary #menu .minor .menu-group a#allprograms {
	color: #F3F574;	
}
.page.primary #content #imagebtns-text {
	margin-top: 30px;
	margin-right: auto;
	margin-left: 50px;
	margin-bottom: 0px;
	text-align: right;
	color: #00080D;
	/*color: #F8F9BD; LIGHT YELLOW
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);*/
	font-size: 22px;
	display: inline-block;
	height: 24px;
	width: 1180px;
	z-index: 5;
	text-shadow: 0 0 0 rgba(0,0,0,0.00);
}

.page.primary #content #imagebtns {
	margin-top: 0px;
	margin-right: auto;
	margin-left: 50px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-top: 14px;
	text-align: center;
	display: inline-block;
	height: 160px;
	width: 1210px;
	z-index: 5;
	background-color: rgba(2,2,2,0.460);
	border-top-right-radius: 26px;
	border-top-left-radius: 26px;
}

.page.primary #content #imagebtns div.imagebtn {
	width: 132px;
	height: 120px;
	display: block;
	text-align: center;
	float: left;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
	-webkit-filter: drop-shadow(3px 3px 3px #222);
	filter: drop-shadow(3px 3px 3px #222);
	z-index: 5;
	margin-right: 0px;
	color: #F8F9BD;
}

.page.primary #content #imagebtns div.imagebtn p {
	/*color: #FFFF00;*/
	width: 120px;
	text-align: center;
	color: #F8F9BD;
	font-weight: bold;
	font-size: 28px;
	line-height: 28px;
	margin-top: -16px;
	/*margin-left: -20px;*/
	padding-right: 0px;
	padding-left: 0px;
	margin-left: -40px;
	text-shadow: 1px 1px 2px rgba(1,1,1,0.80);	
}

#primary.page.primary.home.vi #content #imagebtns div.imagebtn p {
	line-height: 18px;
	margin-top: -24px;
}

#primary.page.primary.home.es #content #imagebtns #btnmysupport p {	
	margin-top: -28px;
}

.page.primary #content #imagebtns div.imagebtn a {
	color: #F8F9BD;
	line-height: 28px;
}


#primary.page.primary.home.vi #content #imagebtns div.imagebtn a,
#primary.page.primary.home.es #content #imagebtns div.imagebtn a {
	font-size: 24px;
	line-height: 26px;	
}

#primary.page.primary.home.es #content #imagebtns #btnmysupport.imagebtn a {	
	line-height: 55px;	
}

/*ICONS */

.page.primary #content #imagebtns #btnlang {
	background: url('../images/icon_remote-langs-med.png') no-repeat;
	z-index: 5;	
}
.page.primary #content #imagebtns #btntv {
	background: url('../images/icon_remote-tv-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnorderfood {
	background: url('../images/icon_remote-orderfood-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnmyeducation {
	background: url('../images/icon_remote-myeducation-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnmovies {
	background: url('../images/icon_remote-movies-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnfeedback {
	background: url('../images/icon_remote-feedback-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btninternet {
	background: url('../images/icon_remote-internet-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnkporg {
	background: url('../images/icon_remote-kporg-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btnmysupport {
	background: url('../images/icon_remote-mysupport-med.png') no-repeat;
	z-index: 5;
}
.page.primary #content #imagebtns #btneleafmail {
	background: url('../images/icon_remote-eleafmail-med.png') no-repeat;
	z-index: 5;
}
