/*****************************************************************************/
/* Screen resolution, default background */
body	{
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_home_fall.jpg) top left no-repeat;
}

body.test {
	overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.page {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
}

/*****************************************************************************/

/* logo */
div.logo, div.logo-large {
	background: url(../images/logo_large.png) top left no-repeat;
	width: 506px;
	height: 88px;
	display: block;
	float: left;
}

div.logo-small {
	background: url(../images/logo_small.png) bottom right no-repeat;
	width: 341px;
	height: 69px;
	display: block;
	float: left;
}

div.logo.topleft, div.logo-large.topleft {
	margin: 45px 0 0 525px;
}
div.logo-small.topleft{
	margin: 24px 0 0 26px;
}

div.logo-small.bottomright{
	margin: 616px 0 0 890px;
	position: absolute;
}
div.logo-small.topright{
	margin: 68px 0 0 890px;
}


div.page-title {
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	display: block;
	text-align: center;
}

div.educ-downarrow {
	background: url(../images/arrow_down-ltblue.png) no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: 450px 0 0 480px;
	z-index: 1;
}



/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #F7F9FB;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	font-size: 32px;
	font-style: normal;
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
	color: #FFFF92;
}
div.text-color-2-rs, p.text-color-2-rs, span.text-color-2-rs, a.text-color-2-rs {
	color: #FFFF92;
	font-size: 36px;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
	color: #104969;
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
	color: #000307;
	font-size: 30px;
	padding-left: 0px;
}
div.text-color-5, p.text-color-5, span.text-color-5, a.text-color-5 {
	color: #CEFCCE;
}
/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
	font-size: 18px;
	font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 22px;
	font-weight: bold;
	color: #F9D98B;
	text-shadow: 3px 3px 6px rgba(0,0,0,1.00);
}

div.text-small, p.text-small, span.text-small, a.text-small {
	font-size: 24px;
	font-weight: normal;
}

div.text-med, p.text-med, span.text-med, a.text-med {
	font-size: 32px;
	line-height: 46px;
	font-weight: bold;
	/*color: #FBFBFC;*/
	letter-spacing: 1px;
}
div.text-edtitles, p.text-edtitles, span.text-edtitles, a.text-edtitles {
	font-size: 32px;
	line-height: 46px;
	font-weight: bold;
	/*background-color: rgba(211,96,18,1.00);*/
	background-color: #3399cc;
	border-radius: 6px;
	letter-spacing: 1px;
	padding-right: 10px;
}
	
div.text-large, p.text-large, span.text-large, a.text-large {
	font-size: 32px;
	font-weight: bold;
	color: #F9F9F9;
	letter-spacing: 1px;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
	font-size: 38px;
	font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
	font-size: 48px;
	font-weight: bold;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
	font-weight: bold;
	font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
	font-weight: normal;
	font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
	font-weight: normal;
	font-style: italic;
}

/*****************************************************************************/
/* Buttons and links */
a {
	text-decoration: none;
	color: #F0F4F5;
}

a.active {
	background-color: rgba(211,96,18,1.00);
	border-radius: 6px;
}

a.button {
	background-color: #155480;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 5px;
	color: #ffffff;
}

a.button.active {
	background-color: #207a32;
}

a.button.color2 {
	background-color: #D54D00;
}

a.button.color3 {
	background-color: #01D0E2;
}

a.button-3:active, a.buttoncolor-3.active {
	background-color: #3399cc;
}

/* special shapes */

.arrow-left {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #ffffff;
}
