.page.roomservice {
    /*background: #4c7401;*/
	background: url(../images/bk_dine1.jpg) top left no-repeat;
}

#rs-qtychange.page.roomservice {
	width: 100%;
	height: 100%;
	z-index: 1000;	
	background: none;
}

.page.roomservice #mask {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 521px;
    top: 284px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 11;
    text-align: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.page.roomservice	 #mask #icon {
    position: absolute;
    top: 36px;
    left: 36px;
    background: url(../images/loading18.gif) center center no-repeat;
    width: 128px;
    height: 128px;
}

.page.roomservice .bk-rs-vieworder {
	width: 1280px;
	height: 720px;
	background: url(../images/bk_dine2.jpg) top left no-repeat;
	
}

.page.roomservice .bk-rs-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	background: url(../images/bk_rs-orderitem.jpg) top left no-repeat;
	
}
.page.roomservice .bk-rs-vieworder-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	background: url(../images/bk_rs-vieworder.jpg) top left no-repeat;
	
}

.page.roomservice .bk-rs-bev {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	background: url(../images/bk_dine3.jpg) top left no-repeat;
	
}
.page.roomservice .bk-rs-bev-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	background: url(../images/bk_rs-orderitem-bev-qty.jpg) top left no-repeat;
	
}
#rs-qtychange.page.roomservice #content {
	position: absolute;
	top: 150px;
	left: 420px;
	width: 800px;
	height: 420px;
	background-color: #206D9E;
	/*background: url(../images/dine-bk-popup.png) top center no-repeat;*/
	z-index: 0;
	border-radius: 24px;
	border-left: 4px solid #5A9ED3;
	border-right: 4px solid #5A9ED3;
	border-bottom: 4px solid #5A9ED3;
	border-top: 60px solid #5A9ED3;
}

.page.roomservice .popup-qty{
	position: absolute;
	top: 150px;
	left: 420px;
	width: 800px;
	height: 420px;
	background-color: #206D9E;
	/*background: url(../images/dine-bk-popup.png) top center no-repeat;*/
	z-index: 0;
	border-radius: 24px;
	border-left: 4px solid #5A9ED3;
	border-right: 4px solid #5A9ED3;
	border-bottom: 4px solid #5A9ED3;
	border-top: 60px solid #5A9ED3;
}
.page.roomservice .popupbk {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/dine-bk-popup.png) top left no-repeat;
	z-index: 1;
}

.page.roomservice #content {
	background-color: rgba(69,70,109,0.20);
	padding-top: 4px;
	position: absolute;
	top: 20px;
	left: 0px;
	height: 400px;
	width: 1000px;
	padding-left: 110px;
}

.page.roomservice #content p {
	font-weight: bold;
	font-size: 40px;
}

.page.roomservice #content #patient {	
	padding-top: 25px;
	font-size: 40px;
}

.page.roomservice #content #patient span.text-color-2 {	
	padding-top: 25px;
	font-size: 40px;
	color: #FFFF92;
	text-align: center;
}

.page.roomservice #content #diet {		
	padding-top: 50px;
	font-size: 40px;
}

.page.roomservice #content #allergies {	
	padding-top: 50px;
	font-size: 40px;
}

.page.roomservice #content #popuptext{
	top: 200px;
	margin-left: 75px;
	height: 400px;
	width: 950px;
}

.page.roomservice #content #popuptext p {
	font-weight: bold;
	font-size: 46px;
	line-height: 56px;
	text-align: center;
}

.page.roomservice #content #channelup{
	position: absolute;
	margin-top: 5px;
	margin-left: -65px;
	height: 59px;
	width: 118px;
	z-index: 6;
	background: url(../images/arrow_up-rs.png) top left no-repeat;
	text-align: center;
	color: #000000;
	line-height: 64px;
	font-size: 50px;
}
.page.roomservice #content #channelup-limit{
	position: absolute;
	margin-top: 5px;
	margin-left: -65px;
	height: 59px;
	width: 118px;
	z-index: 6;
	background: url(../images/arrow_up-rs.png) top left no-repeat;
	text-align: center;
	color: #000000;
	line-height: 64px;
	font-size: 50px;
	opacity: 0.4;
}
.page.roomservice #content #channeldn{
	position: absolute;
	margin-top: 185px;
	margin-left: -65px;
	height: 59px;
	width: 118px;
	z-index: 6;
	background: url(../images/arrow_dn-rs.png) top left no-repeat;
	text-align: center;
	color: #000000;
	line-height: 36px;
	font-size: 64px;
}

.page.roomservice #content #qtywindow{
	position: absolute;
	margin-top: 65px;
	margin-left: -65px;
	height: 120px;
	width: 120px;
	z-index: 4;
	background-color: #558BBE;
	border: 10px solid #E0925B;
	border-radius: 4px;
}
.page.roomservice #content #qtywindow p {
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
	text-align: center;
}

.page.roomservice #content #popuptext-qty{
	position: absolute;
	margin-top: -56px;
	margin-left: 110px;
	height: 360px;
	width: 560px;
}
.page.roomservice #content #popuptext-qty p {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: left;
}
.meal-buttons {
	height: 380px;
	width: 500px;
	margin-left: -100px;
}

.meal-button {
    font-size: 34px;
    top: 0px;
    text-align: left;
	background-color: rgba(15,67,100,1.00);
    border-radius: 8px;
    float: left;
    width: 500px;
    height: 44px;
    line-height: 42px;
    margin: 6px 40px;
    padding: 0px 30px;
}

.meal-text {
    height: 380px;
	width: 670px;
	font-size: 34px;
    top: 12px;
	left: 550px;
	position: absolute;
    text-align: left;
	background-color: rgba(15,67,100,0.70);
    border-radius: 8px;
    /*float: left;*/
    line-height: 54px;
    margin: 0px 20px;
    padding: 10px 30px;
}

.page.roomservice #content .meal-text p {
    height: 55px;	
	font-size: 34px;
}

.course-buttons {
	height: 400px;
	margin-left: -100px;
	
}

.course-button {
    font-size: 32px;
	top: 0px;
	text-align: left;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 360px;
	height: 44px;
	line-height: 40px;
	margin: 10px 30px;
	padding: 0 20px;
}

.item-buttons {
	height: 420px;
	width: 754px;
	margin-left: -100px;
	overflow: auto;
}

.item-button {
    font-size: 34px;
    top: 0px;
    text-align: left;
	background-color: rgba(15,67,100,1.00);
    border-radius: 8px;
    float: left;
    width: 700px;
    height: 44px;
    line-height: 42px;
    margin: 4px 40px;
    padding: 0px 30px;
}
#content .qty{	
	position: absolute;
}

#content .itemname{	
	position: relative;
	margin-left: 25px;
}

.item-image-bk {
	position: absolute;
	float: left;
	width: 304px;
	height: 192px;
	opacity: 1.0;
	top: 80px;
	left: 850px;
	z-index: 1;
	background: url(../images/rs-item-bk.png) top left no-repeat;
}

.item-image-bk img.item-image {
	position: absolute;
	width: 248px;
	height: 158px;
	opacity: 1.0;
	top: 20px;
	left: 35px;
	z-index: 2;    
}

.item-buttons .item-button #item1 .item-image1 {
	background: url(../images/rs-item_burger-classic.jpg) top left no-repeat;
	z-index: 2;
}

.item-scrollbar {
	position: absolute;
	left: 750px;
	top: 8px;
	height: 416px;
	z-index: 4;
	width: 38px;
	background: url(../images/rs-scrollbar.png) top left no-repeat;
}
.page.roomservice #footer {
	position: absolute;
	left: 0;
	top: -125px;
	height: 150px;
	width: 100%;
	background-color: rgba(9,51,77,0.70);
	display: block;
	z-index : 1;
}

.page.roomservice .footer-buttons {
	margin: 0px 30px;
	margin-right: 40px; /*new*/
	float: right;       /*new*/
}

.page.roomservice a.footer-button  {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 300px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}

.page.roomservice a.active {
    background-color: rgba(211,96,18,1.00);
}

.page.roomservice .footer-button-wide {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 440px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.page.roomservice .footer-button-med {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 360px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.page.roomservice .footer-button-narrow {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 130px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 0px;
}
.page.roomservice .footer-helpbutton {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.page.roomservice .footer-text {
	font-size: 32px;
	position: absolute;
	/*left: 460px;*/
	top: 76px;
	right: 60px;
	text-align: right;
	height: 68px;
	width: 1100px;
}
#footer-popup  {
	position: absolute;
	left: 130px;
	top: 500px;
	height: 150px;
	width: 1000px;
}

.page.roomservice .footer-buttons-popup  {
}

.page.roomservice .footer-button-popup {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 420px;
	height: 46px;
	line-height: 44px;
	margin: 10px 40px;
	padding: 0 10px;
}

.page.roomservice #footer-popup-qty  {
	position: absolute;
	left: 220px;
	top: 500px;
	height: 100px;
	width: 1000px;
}

.page.roomservice .footer-buttons-popup-qty  {
	margin-left: 200px;
}

.page.roomservice .footer-button-popup-qty {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 320px;
	height: 46px;
	line-height: 44px;
	margin: 10px 40px;
	padding: 0 10px;
}


div.page-title {
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	display: block;
	text-align: center;
}


.page.roomservice .page-title {
	left: 50px;
	top: 40px;
	width: 1200px;
	height: 56px;
	z-index: 1;
	text-align: center;	
	color: #F0F4F5;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.50);
}
.page.roomservice .page-title2 {    /*For Popup Screens*/
	left: 50px;
	top: 100px;
	position: absolute;
	width: 1200px;
	height: 56px;
	z-index: 4;
	text-align: center;
	color: #FFFF92;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.50);	
}

.page.roomservice .page-title-center {
	left: 0px;
	top: 40px;
	width: 1280px;
	z-index: 1;
	text-align: center;	
	color: #F0F4F5;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.50);
}
.page.roomservice #header {
	top: 0px;
	width: 100%;
	height: 145px;
	position: absolute;
	/*background: url(../images/bk_roomservice_gradient.png) top left no-repeat;*/
}

.page.roomservice #header #heading1 {
	left: 50px;
	top: 90px;
	width: 1100px;
	height: 66px;
	z-index: 1;
	text-align: left;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.50);
	position: absolute;
	z-index: 1;
	/*display: inline-block;
	float: left;*/
}

.page.roomservice #header #heading1 p {
	color: #F4F08D;
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
}

.page.roomservice #header #heading2 {
	width: 330px;
	height: 56px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	border: 4px solid rgba(240,244,245,1.00);
	background: -webkit-linear-gradient(#94b329, #4c7401);
	box-shadow: 1px 4px 8px 0px #353535;
	border-radius: 12px;
}	

.page.roomservice #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	font-weight: 600;
}
.page.roomservice #header #time {
	right: 60px;
	top: 90px;
	width: 400px;
	height: 46px;
	z-index: 1;
	text-align: right;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.50);
	position: absolute;
	/*display: inline-block;
	float: left;*/
}

.page.roomservice #header #time p {
	color: #C5E5F6;
	font-weight: bold;
	font-size: 30px;
}


.page.roomservice #content {
	width: 100%;
	height: 575px;
	top: 145px;
	position: absolute;
	left: 0px;
	/*background: url(../images/bk_default2.jpg) top left no-repeat;*/
}
