.page.secondary {
}
.page.secondary .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}

.page.secondary .page-title {
	left: 66px;
	top: 100px;
	width: 328px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: .5px;
	color: #F0F4F5;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #0078ad;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	font-weight: bold;

}

.page.secondary #header {
	width: 100%;
	height: 145px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.secondary #header #heading1 p {
	color: #45466D;
}

.page.secondary #header #heading2 {
	width: 338px;
	height: 56px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	border: 4px solid rgba(240,244,245,1.00);
	background: -webkit-linear-gradient(#94b329, #4c7401);
	box-shadow: 1px 4px 8px 0px #353535;
	border-radius: 12px;
}	

.page.secondary #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 9px;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
}

div.datetime {
	width: 420px;
	height: 90px;
	top: 42px;
	left: 84px;
	position: absolute;
	display: inline-block;
	float: left;
	text-align: left;
	line-height: 22px;
	font-size: 20px;
	text-shadow: 2px 2px 4px hsla(0,0%,11%,0.70);
}

div.datetime2 {
	width: 420px;
	height: 90px;
	top: 22px;
	left: 64px;
	position: absolute;
	display: inline-block;
	float: left;
	text-align: left;
	line-height: 22px;
	font-size: 16px;
	text-shadow: 2px 2px 4px hsla(0,0%,11%,0.70);
}

.page.secondary #content {
	width: 100%;
	height: 575px;
	top: 145px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}


.page.secondary #menu {
	width: 100%;
	height: 100%;
}

.page.secondary #menu .major {
	position: absolute;
	width: 330px;
	height: 466px;
	left: 66px;
	top: 70px;
	padding: 35px 0 0 0;
	/*background: #333230;*/
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(31,87,112, 1.0);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 38px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: .5px;
	border-radius: 8px;
	background-color: rgba(48,138,200,1.00);
}
.page.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(48,138,200,0.70);
	border-radius: 8px;
	
}
.page.secondary #menu .major a.back-button2 {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(48,138,200,0.70);
	border-radius: 8px;
	
}
.page.secondary #menu .major a.selected {
	background: #d36012;
	border-radius: 8px;
	font-size: 32px;
	padding-top: 2px;
	height: auto;
}

.page.secondary #menu .minor {
	position: absolute;
	width: 860px;
	height: 380px;
	top: 32px;
	left: 420px;
}

.page.secondary #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 404px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {	
	left: 30px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
	right: 100px;
}

.page.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.secondary #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.secondary #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	margin: 40px 0px 0px 25px;
}

.page.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 810px;
}

.page.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-header {
	margin-top: -10px;
	height: 60px;
	color: rgba(189,239,254,1.00);
	padding-left: 20px;
	
}
.page.secondary #menu .minor .sub-header p {
	padding-top: 10px;
	font-size: 28px;
	color: rgba(189,239,254,1.00);
}
.page.secondary #menu .minor .sub-header .keyboardicon {
	/*background: url(../images/icon_keyboard.png) top left no-repeat;*/
	background: url(../images/icon_keyboard.png);
	/*margin-left: 660px;*/
	width: 96px;
	height: 50px;
	/*float: left;*/
}

.page.secondary #menu .minor .sub-footer {
	position: absolute;
	height: 30px;
	width: 600px;
	color: #F5F2A2;
	text-align: center;
	top: 420px;
	left: 110px;
	text-shadow: 2px 2px 6px #000000;
}

.page.secondary #menu .minor .sub-content {
    margin-top: -62px;
	height: 516px;
	width: 860px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
	margin-bottom: 0;
	line-height: 34px;
}


.page.secondary #menu .minor .sub-content .sub-image1 img
,.page.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}
.page.secondary #menu .minor .sub-content .keyboardicon {
	background: url(../images/icon_keyboard.png);
	width: 96px;
	height: 50px;
}
/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {
	
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	top: 20px;
	left: 10px;
	padding: 15px;
}
.page.secondary #menu .minor .sub-content.layout1 .sub-text1 p{
	line-height: 38px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {
	
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.secondary #menu .minor .sub-content.layout2b {
	
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {
	
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {
	
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {
	
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1 p{
	line-height: 38px;
}

#secondary.page.secondary.vi #menu .minor .sub-content.layout5 .sub-text1 p {
	line-height: 28px;
	font-size: 26px;
}

#secondary.page.secondary.es #menu .minor .sub-content.layout5 .sub-text1 p {
	line-height: 32px;
	font-size: 28px;
}	

.page.secondary #menu .minor .sub-content.layout5 .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 516px;
	width: 820px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1 a.button {
	background-color: #2188CF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 5px;
	padding-right: 80px;
	padding-left: 80px;
	padding-bottom: 5px;
	color: #ffffff;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1 a.button.active {
	background-color: #61B873;
}



.page.secondary #menu .minor .sub-content.layout5 .sub-text2 { /* Menu text */
	display: block;
	position: absolute;
	height: 40px;
	width: 450x;
	top: 468px;
	left: 450px;
	padding: 0px;
	z-index: 1;
	text-align: right;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 0.4;
	top: 10px;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}

/* Layout 5b, text overlays image - image is 100% opaque*/ 
.page.secondary #menu .minor .sub-content.layout5b {
	
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1 p{
	line-height: 38px;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 516px;
	width: 820px;
	top: 20px;
	left: 10px;
	padding: 15px;
	padding-top: 15px; 
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1 a.button {
	background-color: #2188CF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 5px;
	padding-right: 80px;
	padding-left: 80px;
	padding-bottom: 5px;
	color: #ffffff;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1 a.button.active {
	background-color: #61B873;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text2 { /* Menu text */
	display: block;
	position: absolute;
	height: 40px;
	width: 450px;
	top: 468px;
	left: 370px;
	padding: 0px;
	z-index: 1;
	text-align: right;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image1{
	/*width: 100%;
	height: 100%;*/
	height: 546px;
	width: 850px;
	opacity: 1.0;
	top: 10px;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image2{
	display: none;
}

/* Layout 5c, text overlays image - CONTACT PERSON */
.page.secondary #menu .minor .sub-content.layout5c {
	
}

.page.secondary #menu .minor .sub-content.layout5c .sub-text1{
	display: block;
	position: absolute;
	height: 425px;
	width: 820px;
	top: 0px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5c .sub-text1 a.button {
	line-height: 70px;
}
.page.secondary #menu .minor .sub-content.layout5c .sub-text2{
	display: block;
	position: absolute;
	padding: 0px;
	width: 780px;
	height: 250px;
	top: 230px;
	left: 24px;
	opacity: 1.0;
	background-color: #c5f8cd;	
	border: 4px solid rgba(240,244,245,1.00);
	border-radius: 12px;
	z-index: 1;
	
}
.page.secondary #menu .minor .sub-content.layout5c .sub-text2 p{
	display: block;
	position: absolute;
	left: 30px;
	top: 42px;
	width: 260px;
	text-align: right;
	color: #000000;
	text-shadow: 0px 0px 0px;
	line-height: 12px;
}
.page.secondary #menu .minor .sub-content.layout5c .sub-text3{
	display: block;
	position: absolute;
	height: 300px;
	width: 450px;
	top: 260px;
	left: 330px;
	padding: 0px;
	z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout5c .sub-text3 p{
	text-align: left;
	color: #000000;
	text-shadow: 0px 0px 0px;
	line-height: 30px;
	background-color: #FFFFCC;
	padding-left: 4px;
	padding-bottom: 8px;
	padding-top: 4px;
	border: 2px solid #A6A5A5;
}
.page.secondary #menu .minor .sub-content.layout5c .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout5c .sub-image2{
	display: none;
}


/* Layout 5d, text overlays image - NOTES TO SELF  */
.page.secondary #menu .minor .sub-content.layout5d {
	
}

.page.secondary #menu .minor .sub-content.layout5d .sub-text1{
	display: block;
	position: absolute;
	height: 100px;
	width: 820px;
	top: -10px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5d .sub-text2{
	display: block;
	width: 800px;
	height: 320px;
	position: absolute;
	top: 190px;
	left: 24px;
	opacity: 1.0;
	background-color: #FFFFCC;	
	border: 4px solid rgba(240,244,245,1.00);
	border-radius: 12px;
	z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout5d .sub-text2 p{
	text-align: left;
	color: #000000;
	text-shadow: 0px 0px 0px;
	line-height: 36px;
	margin-left: 30px;
	margin-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout5d .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout5d .sub-image2{
	display: none;
}

/* Layout 5e, text overlays image - eLEAF MAIL */
.page.secondary #menu .minor .sub-content.layout5e {
	
}

.page.secondary #menu .minor .sub-content.layout5e .sub-text1{
	display: block;
	position: absolute;
	height: 425px;
	width: 820px;
	top: 0px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5e .sub-text2{
	display: block;
	position: absolute;
	padding: 0px;
	width: 380px;
	height: 250px;
	top: 154px;
	left: 46px;
	z-index: 1;	
}
.page.secondary #menu .minor .sub-content.layout5e .sub-text2 p{
	display: block;
	position: absolute;
	text-align: left;
	color: #F7F4F4;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	line-height: 36px;
}
.page.secondary #menu .minor .sub-content.layout5e .sub-text3{
	display: block;
	position: absolute;
	padding: 0px;
	width: 380px;
	height: 250px;
	top: 154px;
	left: 456px;
	z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout5e .sub-text3 p{
	display: block;
	position: absolute;
	text-align: left;
	color: #F7F4F4;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	line-height: 36px;
}
.page.secondary #menu .minor .sub-content.layout5e .sub-image1{
	width: 816px;
	height: 366px;
	position: absolute;
	top: 140px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	z-index: 0;
}

.page.secondary #menu .minor .sub-content.layout5e .sub-image2{
	display: none;
}

/* Layout 5f, text overlays image SCRUB COLORS */
.page.secondary #menu .minor .sub-content.layout5f {
	
}

.page.secondary #menu .minor .sub-content.layout5f .sub-text1{
	display: block;
	position: absolute;
	height: 425px;
	width: 820px;
	top: 0px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5f .sub-text2{/* Page Number text */
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 16px;
	left: 610px;
	padding: 0px;
	z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout5f .sub-text2 p{
	display: block;
	position: absolute;
	text-align: left;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	line-height: 36px;
}

.page.secondary #menu .minor .sub-content.layout5f .sub-image1{
	width: 790px;
	height: 288px;
	position: absolute;
	top: 130px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	z-index: 0;
}

.page.secondary #menu .minor .sub-content.layout5f .sub-image2{
	display: none;
}

/* Layout 5, text overlays image, 2 COLUMNS OF TEXT - Phone Directory, etc. */
.page.secondary #menu .minor .sub-content.layout5g {
	
}

.page.secondary #menu .minor .sub-content.layout5g .sub-text1 p{
	line-height: 40px;
}
.page.secondary #menu .minor .sub-content.layout5g .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 516px;
	width: 370px;
	top: 20px;
	left: 10px;
	padding-top: 15px;
	padding-left: 25px;
	z-index: 1;
}

#secondary.page.secondary.es #menu .minor .sub-content.layout5g .sub-text2 p,
#secondary.page.secondary.vi #menu .minor .sub-content.layout5g .sub-text2 p{
font-size: 28px;
line-height: 32px;
}

.page.secondary #menu .minor .sub-content.layout5g .sub-text2 p{
	line-height: 40px;
}
.page.secondary #menu .minor .sub-content.layout5g .sub-text2 { /* COL 2 */
	display: block;
	position: absolute;
	height: 516px;
	width: 340px;
	top: 21px;
	left: 390px;
	padding-top: 15px;
	z-index: 1;		
}

.page.secondary #menu .minor .sub-content.layout5g .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 0.4;
	top: 10px;
}

.page.secondary #menu .minor .sub-content.layout5g .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.secondary #menu .minor .sub-content.layout6 {
	
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, text only with page number in upper right */
.page.secondary #menu .minor .sub-content.layout7 {
	
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	top: 20px;
	left: 10px;
	padding: 15px;
}
.page.secondary #menu .minor .sub-content.layout7 .sub-text1 p{
	line-height: 38px;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text2{  /* Page Number text */
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 16px;
	left: 610px;
	padding: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}


