/*****************************************************************************/
/* Screen resolution, default background */
body	{
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_cc_default.jpg) top left no-repeat;
}

body.test {
	overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.page {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
}

/*****************************************************************************/
/* logo */
div.logo, div.logo-large {
	background: url(../images/logo_cc_large.png) top left no-repeat;
	width: 336px;
	height: 56px;
	display: block;
	float: left;
}

div.logo-small {
	background: url(../images/logo_cc_small.png) top left no-repeat;
	width: 215px;
	height: 37px;
	display: block;
	float: left;
}

div.logo.topleft, div.logo-large.topleft {
	margin: 35px 0 0 65px;
}

/*****************************************************************************/
/* Text */

/* Default text attributes */
div, p, span, a {
	color: #ffffff;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	font-size: 28px;
	font-style: normal;
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
	color: #ffff66;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
	color: #333333;
}

/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
	font-size: 18px;
	font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 20px;
	font-weight: normal;
}

div.text-small, p.text-small, span.text-small, a.text-small {
	font-size: 24px;
	font-weight: normal;
}

div.text-large, p.text-large, span.text-large, a.text-large {
	font-size: 32px;
	font-weight: bold;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
	font-size: 38px;
	font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
	font-size: 48px;
	font-weight: bold;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
	font-weight: bold;
	font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
	font-weight: normal;
	font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
	font-weight: normal;
	font-style: italic;
}

/*****************************************************************************/
/* Buttons and links */
a {
	text-decoration: none;
	color: #ffffff;
}

a.active {
	background-color: #207a32;
}

a.button-2 {
	color: #ffffff;
}

a.button-2:active, a.button-2.active {
	background-color: #207a32;
}

a.button-3 {
	color: #ffffff;
}

a.button-3:active, a.buttoncolor-3.active {
	background-color: #3399cc;
}
