#videoplayer.translucent {  background: transparent; }
#videoplayer.translucent > div { display: none }

#videoplayer {
    background: #000000;
	width: 1280px;
	height: 720px;
}

#videoplayer #buttons {
    position: relative;
    float: left;
}

#videoplayer #buttons a {
	height: 70px;
	font-size: 30px;
	line-height: 70px;
	margin: 0 10px;
	padding: 0 20px;
	text-align: center;
	position: relative;
	display: block;
	float: left;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px; 
}

#videoplayer #buttons a#stop {
    
}
	
#videoplayer #videopanel {
	background: #000000;
	position: absolute;
	z-index: 10000;
}

#videoplayer #videopanel.windowmode {
	width: 1280px;
	height: 720px;
}

#videoplayer #videopanel.fullscreen {
	width: 1280px;
	height: 720px;
	left: 0px;
	top: 0px;
	position:fixed;
}

#videoplayer #exitfullscreen {
	background: #000000 url(../images/exit_full_screen.png) top left no-repeat;
	display: none;
	position: absolute;
	z-index: 11;
	width: 80px;
	height: 80px;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	cursor: pointer;
}

#videoplayer #popup {
	display: none;
	position: absolute;
	width: 566px;
	left: 400px;
	top: 268px;
	z-index: 20;
	padding: 10px 20px;
	text-align: center;
	font-size: 26px;
	color: #FFF;
	background: #265C88;
	border-radius: 8px;
}

#videoplayer #control-wrapper * {
	box-sizing: content-box;
}

#videoplayer #control-wrapper {
	position: absolute;
	bottom: 42px;
	display: none;
}

#videoplayer #control {
	text-align: center;
	height: 60px;
	width: 280px;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 40px;
	z-index: 999999;
	border-radius: 30px;
}

#videoplayer #control #status {
	width: 100%;
	height: 30px;
	margin-top: -30px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: normal;
}

#videoplayer #control a {
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	margin: 5px 10px;
	padding: 10px;
	text-align: center;
	position: relative;
	display: block;
	float: left;
	color: rgba(255, 255, 255, 1.00);
	background-color: transparent;
	border-radius: 8px;
	font-size: 30px;
}

#videoplayer #control a.active {
	background-color: rgba(100,170,94,1.00);
	border-radius: 6px;
}

#videoplayer #control a.selected {
	color: #d08327;
}